
@import "../node_modules/bootstrap/scss/bootstrap";

:root {
    font-size: 16px;
    --bg-primary: #e5e5e5;
    --bg-primary-light: #eeeeee;
    --bg-secondary: #1089ff;
    --bg-secondary-dark: #23374d;
    --transition-speed: 600ms;
}


.display-1 {
    color: var(--bg-secondary-dark);
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

body {
    color: var(--bg-secondary-dark);
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-secondary-dark);
}

body::-webkit-scrollbar-thumb {
    background: var(--bg-primary-light);
}

.navbar {
    width: 4rem;
    height: 100vh;
    position: fixed;
    padding: 0;
    background-color: var(--bg-secondary-dark);
    transition: width 200ms ease-in-out;
}

.navbar-nav {
    list-style: none;
    width: auto;
    padding: 0;
    margin: 0;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    height: 100%;
}

.nav-item {
    margin: 0;
    padding: 0;
    width: 16rem;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    color: var(--bg-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
    color: var(--bg-primary);
}

.link-text {
    display: none;
    margin-left: 1rem;
    font-weight: bold;
}

.nav-link svg {
    min-width: 1.5rem;
    margin: 0 1.2rem;
}

.logo {
    margin: 0;
    padding: 0;
}

.logo svg {
    min-width: 3rem;
    margin: 0 1.2rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
}


main {
    margin-left: 5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.list-group {
    margin-left: 10%;
    margin-right: 20%;;
}

.list-group-item-action:hover, .list-group-item-action:focus {
    color: var(--bg-secondary);
    background-color: #f8f9fa;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 20px;
}

.image-gallery img {
    width: 100%;
    height: 500px;
    object-fit: cover; /* scale center cover crop image */
    object-position: center; /* Center the image within the element */
}